<form #myForm="ngForm" (submit)="onSubmit(myForm.value,myForm.valid)" novalidate>
  <div>用户名：<input ngModel required minlength="6" name="username" type="text"> </div>
  <div [hidden]="!myForm.form.hasError('required','username')">用户名必填</div>
  <div>手机号：<input ngModel appMobileValidator name="mobile" type="text" (input)="onMoblileInput(myForm)"> </div>
  <div [hidden]="mobileValid||mobileUntouched">
    <div [hidden]="!myForm.form.hasError('mobile','mobile')">手机号不正确</div>
  </div>

  <!-- <div ngModelGroup="passwordsGroup" appEqual> -->
  <div ngModelGroup="passwordsGroup" appEqual>
    <div>密码：<input ngModel minlength="6" name="passwords" type="password"> </div>
    <div [hidden]="!myForm.form.hasError('minlength',['passwordsGroup','passwords'])">最小长度为6</div>
    <div>确认密码：<input ngModel name="pawwwords2" type="password"> </div>
    <div [hidden]="!myForm.form.hasError('equal','passwordsGroup')">{{myForm.form.getError('equal','passwordsGroup')?.descy}}</div>
  </div>
  <button type="submit">注册</button>
</form>
